<% include ../../partials/header %>
<% include ../../partials/menu %>
<% include ../../partials/sidebar %>

<div class="container" style="float: right; width: 80%">
  <div class="page-header">
    <h1>Upload Files</h1>
    <h4> to issues : <%= issueidURL %> </h4>
  </div>

  <div class="panel panel-default" style="width: 25%">
    <div class="panel-heading">
      <h3 class="panel-title"></h3>
    </div>
    <body>
      <form ref='uploadfile'
      id='uploadfile'
      action='/projects/details/<%=idURL%>/issues/uploadfiles/<%= issueidURL %>'
      method='post'
      encType="multipart/form-data">
      <div class="panel-body">
        <div class="container">
          <!-- //accept all image -->
          <span class="btn btn-default btn-file">
            Choose files
            <br>
            <br>
            <input type="file" accept="image/*" name="uploadfile">
          </span>
          <br> <br>
          <input type='submit' class="btn btn-primary" value='Upload Files' />
        </input>
        <br>
      </div>
    </form>
  </body>

  <% include ../../partials/footer %>
