<% include partials/menu %>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/login.css">
  <title><%= title %></title>
</head>
<body>

  <div class="container">

    <h1>All About Me</h1><br>
    <div class="row text-center">
      <div class="col-sm-3 col-xs-6 first-box">
        <h1><span class="glyphicon glyphicon-user" id="first-box"></span></h1>
        <h3>Name</h3>
        <strong>  <p>Firmansyah Ashari</p> </strong><br>
      </div>
      <div class="col-sm-3 col-xs-6 second-box">
        <h1><span class="glyphicon glyphicon-earphone" id="second-box"></span></h1>
        <h3>Phone</h3>
        <strong><p>081807922186</p><br></strong>
      </div>
      <div class="col-sm-3 col-xs-6 third-box">
        <h1><span class="glyphicon glyphicon-envelope" id="third-box"></span></h1>
        <h3>E-mail</h3>
        <strong><p>Firmansyahas@hotmail.com</p><br></strong>
      </div>
      <div class="col-sm-3 col-xs-6 fourth-box">
        <h1><span class="glyphicon glyphicon-leaf" id="fourth-box"></span></h1>
        <h3>Web</h3>
        <strong> <p>https://github.com/firmansyas</p><br></strong>
      </div>

    </div>
  </div>

  <style>
  .first-box:hover{
    background-color: white;
  }
  .second-box:hover{
    background-color: white;
  }
  .third-box:hover{
    background-color: white;
  }
  .fourth-box:hover{
    background-color: white;
  }
  .first-box{padding:10px;background:GreenYellow ;}
  .second-box{padding:10px; background:#39F;}
  .third-box{padding:10px;background:#F66;}
  .fourth-box{padding:10px;background:#6CC;}
  </style>

  <script type="text/javascript">

  </script>
