<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style media="screen">
      .navbar{
        clear: both;
        height: 150px;
        background-color: green;
      }
      .kiri{
          width: 20%;
          float:left;
          height: 350px;
          background-color: red;
      }
      .tengah{
        width: 80%;
        float:right;
        height: 350px;
        background-color: yellow;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="navbar">

    </div>
    <div class="kiri">

    </div>
    <div class="tengah">

    </div>
  </body>
</html>
