<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/login.css">

  <title><%= title %> </title>
</head>



<div class="container">
  <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Sign Up</div>
        <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
      </div>

      <div style="padding-top:30px" class="panel-body" >
        <% if(message[0] !== undefined) {%>
          <div class="alert alert-warning">
          <center>  <strong>Pay Attention</strong> <%= message %> </center>
          </div>
            <% } %>

            <form method="POST" class="form-horizontal" action="/register">


              <div class="form-group">
                <label for="firstname" class="col-md-3 control-label">First Name</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="firstname" placeholder="First Name">
                </div>
              </div>

              <div class="form-group">
                <label for="lastname" class="col-md-3 control-label">Last Name</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                </div>
              </div>

              <div class="form-group">
                <label for="email" class="col-md-3 control-label">Email</label>
                <div class="col-md-9">
                  <input type="email" class="form-control" name="email" placeholder="Email Address">
                </div>
              </div>

              <div class="form-group password">
                <label for="password" class="col-md-3 control-label">Password</label>
                <div class="col-md-9">
                  <input type="password" class="form-control" id="passwordfield" name="pass" placeholder="Password">

                </div>
              </div>

              <div class="form-group">
                <label for="repass" class="col-md-3 control-label">Re-Password</label>
                <div class="col-md-9">
                  <input type="password" class="form-control" name="repass" placeholder="Retype Password">
                </div>
              </div>

              <div class="form-group">
                <!-- Button -->
                <div class="col-md-offset-3 col-md-9">
                  <button id="btn-signup" type="submit" name="regisbutton" class="btn btn-primary ">Sign Up</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

  </body>
  </html>
